.footer {
  display: flex;
  justify-content: right;
  font-size: 15px;
  color: whitesmoke;
  width: 100%;
  height: 38px;
  bottom: 0px;
  padding: 5px;
  margin-top: 30px;
  background-color: rgba(0,0,0,0.2);
}

#copyright {
  margin-right: 25px;
}